# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore build directories
build


# Ignore temporary files
*.tmp
*.swp

# Ignore Dockerfile
Dockerfile

# Ignore Docker Compose files
docker-compose.yml
docker-compose.override.yml